<div class="container mt-4" style="user-select: auto;">
  <footer class="py-4" style="user-select: auto;">
    <div class="d-flex justify-content-between py-4 my-4 border-top" style="user-select: auto;">
      <p style="user-select: auto;">© 2021  Samura open innovation, ASC. All rights reserved.</p>
      <ul class="list-unstyled d-flex" style="user-select: auto;">
        <li class="ms-3" style="user-select: auto;"><a class="link-dark" href="#" style="user-select: auto;"><svg class="bi" width="24" height="24" style="user-select: auto;"><use xlink:href="#twitter" style="user-select: auto;"></use></svg></a></li>
        <li class="ms-3" style="user-select: auto;"><a class="link-dark" href="#" style="user-select: auto;"><svg class="bi" width="24" height="24" style="user-select: auto;"><use xlink:href="#instagram" style="user-select: auto;"></use></svg></a></li>
        <li class="ms-3" style="user-select: auto;"><a class="link-dark" href="#" style="user-select: auto;"><svg class="bi" width="24" height="24" style="user-select: auto;"><use xlink:href="#facebook" style="user-select: auto;"></use></svg></a></li>
      </ul>
    </div>
  </footer>
</div>
